* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: rgba(255, 255, 255, 0.651);
    font-family: "Montserrat", sans-serif;
}
/* Struttura */
header {
    width: calc(100% - 150px);
    float: right;
    height: 100px;
    background-color: rgb(16, 16, 29);
}
.side-bar {
    width: 150px;
    float: left;
    height: calc(100vh - 100px);
    background-color: black;
}
main {
    width: calc(100% - 150px);;
    float: right;
    height: calc(100vh - 200px);
    background-color: rgb(34, 34, 68);
    overflow-y: auto;
}
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    float: left;
}
/* header */
header {
    display: flex;
    justify-content: flex-end;
}
header button {
    margin: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(16, 16, 29);
    color: white;
    border-color: white;
}
/* Side bar */
#logo {
    height: 30px;
    margin: 15px 10px;
}
.icon {
    height: 20px;
    display: inline;
}
.side-nav {
    margin-right: 50%;
}
h4 {
    padding-top: 15px;
}
#aggiungi-button {
    font-size: 35px;
    padding: 3px;
}
.side-bar span {
    position: relative;
    bottom: 7px;
}
#nomi-playlist {
    overflow-y: scroll;
    font-size: 12px;
}
.padding-5 {
    padding: 5px;
}
.side-bar div img {
    height: 15px;
    width: 15px;
}
.profile {
    position: absolute;
    bottom: 103px;
}
/* main */
nav {
    width: 50%;
    margin: auto;
}
#nav {
    list-style-type: none;
}
#nav li {
    display: inline;
    padding: 5px;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
.container1 {
    display: flex;
}
.music {
    margin: 15px;
    text-align: center;
    max-width: 150px; 
    min-width: 1px;
    display: flex;
    flex-direction: column;  
}
.circle {
    border-radius: 100%;
}
/* Inizio footer */
footer {
    display: flex;
}



/* Hover */
.scurimento {
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    max-width: 150px;
    /* min-width: 1px; */
    max-height: 150px;
    min-height: 150px;
}