* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
}
/* Struttura */
header {
    width: calc(100% - 150px);
    float: right;
    height: 100px;
    background-color: rgb(16, 16, 29);
}
.side-bar {
    width: 150px;
    float: left;
    height: calc(100vh - 100px);
    background-color: black;
}
main {
    width: calc(100% - 150px);;
    float: right;
    height: calc(100vh - 200px);
    background-color: rgb(34, 34, 68);
}
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    position: absolute;
    bottom: 0;
}
/* header */
header {
    display: flex;
    justify-content: flex-end;
}
header button {
    margin: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(16, 16, 29);
    color: white;
    border-color: white;
}
/* Side bar */
#logo {
    height: 30px;
    margin: 15px 10px;
}
.icon {
    height: 20px;
    display: inline;
}
.side-bar ul li {
    margin-right: 50%;
}
h4 {
    padding-top: 15px;
}