* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: rgba(255, 255, 255, 0.651);
    font-family:"Montserrat", sans-serif;
}
/* Struttura */
header {
    width: calc(100% - 180px);
    float: right;
    height: 100px;
    background-color: rgb(16, 16, 29);
}
.side-bar {
    width: 180px;
    float: left;
    height: calc(100vh - 100px);
    background-color: black;
}
main {
    width: calc(100% - 180px);;
    float: right;
    height: calc(100vh - 200px);
    background-color: rgb(34, 26, 43);
    overflow-y: auto;
}
/* header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header a {
    margin: 30px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
}
/* Side bar */
.side-bar {
    overflow: hidden;


}
.side-bar * {
    margin: 2px;
}
#logo {
    height: 30px;
    margin: 15px 10px;
}
.icon {
    height: 20px;
    display: inline;
}
.side-nav {
    margin-right: 50%;
}
h4 {
    padding-top: 15px;
}
#aggiungi-button {
    font-size: 35px;
    padding: 3px;
}
.side-bar span {
    position: relative;
    bottom: 7px;
}
#nomi-playlist {
    height: 30vh;
    overflow-y: scroll;
    font-size: 12px;
}
.padding-5 {
    padding: 5px;
}
.side-bar div img {
    height: 15px;
    width: 15px;
}
.profile {
    position: absolute;
    bottom: 103px;
}
/* MAIN */
nav {
    width: 50%;
    margin: auto;
}
#nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#nav li {
    display: inline;
    padding: 5px;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
}
.music {
    margin: 15px;
    text-align: center;
    max-width: 150px; 
    min-width: 1px;
    /* width: 15%; */
    display: flex;
    flex-direction: column;  
    position: relative;
    z-index: 2;
}
.circle {
    border-radius: 100%;
}
/* Inizio footer */
footer{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    z-index: 1;
}

footer ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

footer li{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

footer a{
    color: #757575;
}

.left_comm .fa-regular, .middle_comm .fa-solid{
    font-size: 20px;
}

/* Bars */
footer .bar{
    height: 5px;
    background: #5a5a5a;
    border-radius: 25px;
}

footer .bar .counter{
    height: 5px;
    background: #c1c1c1;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

footer .bar .counter .round{
    background: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: none;
}

/* Left commands */
footer .playing{
    height: 50px;
    padding-left: 5px;
}

footer .playing_specs{
    padding: 0 15px;
}

footer .playing_specs a{
    font-size: 12px;
}

/* Middle commands */
.middle_comm .up_player, .middle_comm .down_player{
    display: flex;
    justify-content: center;
}

footer .middle_comm .up_player{
    padding-bottom: 10px;
}

footer .progress_bar{
    width: 450px;
}

footer .bar .video_counter{
    width: 90px;
}

footer .bar .video_counter .round{
    margin-left: 78px;
}

footer .middle_comm .fa-circle-play{
    font-size: 35px;
    margin: 1px 5px;
}

.middle_comm .fa-regular, .middle_comm .fa-solid{
    color: white;
}

footer .middle_comm li{
    padding: 0 5px;
}

/* Right commands */
footer .right_comm a{
    color: white;
}

footer .sound_bar{
    width: 120px;
}

footer .bar .sound_counter{
    width: 30px;
}

footer .bar .sound_counter .round{
    margin-left: 18px;
}

/* Hover */
footer .left_comm a:hover{
    color: white;
}

footer .bar:hover .counter{
    background: yellow;
}

footer .bar:hover .counter .round{
    display: block;
}

footer .middle_comm .fa-circle-play:hover{
    font-size: 37px;
    margin: 0 4px;
}

/* bottone header */
#button-hover:hover {
    padding: 10px 15px;
    text-align: center;
    border-radius: 25px;
}

/* musiche */
.scurimento {
    position: absolute;
    max-width: 150px;
    min-width: 150px;
    /* width: 15%; */
    max-height: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column; 
    z-index: 0;
    color: rgba(0, 0, 0, 0);
}
.scurimento i {
    position: absolute;
    bottom: 45%;
    left: 45%;
    font-size: x-large;
}
.scurimento:hover {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
}



/* Mediaqueary */

@media screen and (max-width: 560px) {
    .side-bar {
        width: 50px;
    }
    header, main, footer {
        width: calc(100% - 50px);
    
    }

    #logo {display:none}
    .side-bar ul li span, h4, #aggiungi-button, .side-bar span, #nomi-playlist, .profile span {
        display: none;
    }
    
}